MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/stylesbymaggie
JWT_SECRET=replace_with_64_char_random_hex
GOOGLE_CLIENT_ID=replace_with_google_oauth_client_id
PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5175
